body {
  margin: 0;
  background: #555;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  width: 70%;
  max-width: 800px;
  background: white;
  padding: 40px;
  border-radius: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.logo {
  display: flex;
  width: 70%;
  height: 20%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: -10px;
}
.logo img {
  height: 50px;
}
h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
input {
  width: 80%;
  padding: 15px;
  margin: 10px auto;
  display: block;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 18px;
}
button {
  width: 50%;
  padding: 15px;
  background: #0aa7f5;
  color: white;
  border: none;
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container {
  animation: fadeIn 0.8s ease;
}
.lang-menu {
  display: none;
  position: absolute;
  right: 40px;
  bottom: 20px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}
.lang-menu div {
  padding: 5px 10px;
  cursor: pointer;
}
.lang-menu div:hover {
  background: #eee;
}
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 25px;
  }
  h1 {
    font-size: 32px;
  }
  input {
    width: 95%;
    font-size: 16px;
  }
  button {
    width: 80%;
    font-size: 18px;
  }
  .lang-select {
    padding-right: 5px;
  }
}
a {
  color: white;
}
.vissza{
    width: 20%;
    font-size: 18px;
    padding: 15px;
    background: #0aa7f5;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
}
